{% extends 'route/layout.html' %}

{% block title %}
    Sign in
{% endblock %}

{% block content %}
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <form method="post" action="" class="form px-5 pt-5 pb-5">
                <h1 class="mb-5">Welcome</h1>
                {% csrf_token %}
                <div class="form-group p-1 mb-3">
                    {{ form.username }}
                </div>
                <div class="form-group p-1 mb-3">
                    {{ form.password1 }}
                </div>
                <div class="form-group p-1 mb-3">
                    {{ form.password2 }}
                </div>
                <div class="form-group p-1 mb-3">
                    <button class="btn btn-outline-danger">Sign up</button>
                </div>
                <div class="form-group p-1 mb-3">
                    <span style="font-size: 12px" class="mb-2">Have an account? <a class="text-decoration-none switcher"
                                                                                   style="color:black" href="/login">Log in</a></span>

                    <span class="text-danger ">{{ error }}</span>
                </div>


            </form>
        </div>
    </div>
{% endblock %}