{% extends 'route/layout.html' %}

{% block title %}
    Add Route Form
{% endblock %}

{% block content %}
    <style>
        #MapContainer {
            height: 500px;
            width: 100%;
        }

        #map {
            height: 400px;
            width: 100%;
        }
    </style>
    <div id="MapContainer">
        <div id="map"></div>
    </div>
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <form method="post" id="routeForm" action="/add-route/" class="form px-5 pt-5 pb-5">
                <h1 class="mb-5">Welcome</h1>
                {% csrf_token %}
                <div class="form-group p-1 mb-3">
                    {{ form.name }}
                </div>
                <div class="form-group p-1 mb-3">
                    {{ form.description }}
                </div>
                <div class="form-group p-1 mb-3">
                    {{ form.short_description }}
                </div>
                <div class="form-group p-1 mb-3">
                    <button onclick="removeWaypoint(event)" id="delete-waypoint-btn" class="btn btn-outline-danger">Delete
                        last waypoint
                    </button>
                    <button id="addRouteButton" type="submit" class="btn btn-outline-danger">Add Route</button>
                </div>

            </form>
        </div>
    </div>

    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD527QpH-bF0qPHG5ey2yUH2YZ5f8LcvZA&callback=initMap">
    </script>

    <script>
        let markers = [];
        let map;
        const waypoints = [];

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 49.83775294802427, lng: 24.026652509375054},
                zoom: 7
            });

            google.maps.event.addListener(map, 'click', function (event) {
                const waypoint = {
                    location: event.latLng.toUrlValue(),
                    latitude: event.latLng.lat(),
                    longitude: event.latLng.lng()
                };
                waypoints.push(waypoint);

                const marker = new google.maps.Marker({
                    position: event.latLng,
                    map: map,
                    title: `Waypoint at ${waypoint.location}`
                });

                markers.push(marker);
            });
        }

        document.getElementById('addRouteButton').addEventListener('click', function () {
            const form = document.getElementById('routeForm');
            const formData = new FormData(form);

            for (let i = 0; i < waypoints.length; i++) {
                formData.append('waypoints[]', JSON.stringify(waypoints[i]));
            }

            fetch('/add-route/', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                },
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        window.location.href = '/';
                    } else {
                        console.error('Error:', data);
                    }
                });
        });

        function removeWaypoint(event) {
            event.preventDefault()
            if (waypoints.length > 0) {
                waypoints.pop();
                marker = markers.pop()
                marker.setMap(null);
                console.log("work")
            }

        }
    </script>
{% endblock %}
