{% extends 'route/layout.html' %}

{% block title %}
    {{ route.name }}
{% endblock %}

{% block content %}
    <style>
        #map {
            height: auto;
            min-height: 400px;
            width: 100%;
        }
    </style>

    <div class="mt-5 mb-4">
        <h1 class="text-center">{{ route.name }}</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 row-sm">
                <div id="map" class=" justify-content-center"></div>
            </div>
            <div class="col-lg-8 row-sm">
                <p class="text-center ">{{ route.description }}</p></div>
        </div>
    </div>


        <div class="container-fluid">
            <h2>Comments</h2>
            <div id="comments" class="card p-3 mb-3 comment-block">

                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for comment in comments %}
                        <tr>
                            <th scope="row"><strong>{{ comment.user.username }}:</strong></th>
                            <td>{{ comment.content }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    {% if request.user.username != "" %}
        <div class="container-fluid">
            <form method="post" action="{% url 'addComment' route.id %}">
                {% csrf_token %}
                {{ commentForm.content }}
                <div class="flex-column">
                    <button id="comment-cancel-button" onclick="clearField(event)" type="button" style="display: none">
                        Cancel
                    </button>
                    <button id="comment-add-button" style="display: none" type="submit">Add</button>
                </div>

            </form>
        </div>

    {% else %}
        <p>You need to be logged in to add a comment. Please <a href="{% url 'login' %}">log in</a>.</p>
    {% endif %}
    </div>

    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD527QpH-bF0qPHG5ey2yUH2YZ5f8LcvZA&callback=initMap&libraries=places">
    </script>

    <script>
        function initMap() {
            var directionsService = new google.maps.DirectionsService();
            var directionsRenderer = new google.maps.DirectionsRenderer();
            var firstWaypoint = {
                lat: {{ route.start.latitude }},
                lng: {{ route.start.longitude }}
            };
            var map = new google.maps.Map(document.getElementById('map'), {
                center: firstWaypoint,
                zoom: 5
            });
            directionsRenderer.setMap(map);
            var waypoints = [
                {% for waypoint in waypoints %}
                    {
                        location: new google.maps.LatLng({{ waypoint.latitude }}, {{ waypoint.longitude }}),
                        stopover: true
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ];

            var request = {
                origin: new google.maps.LatLng({{ route.start.latitude }}, {{ route.start.longitude }}),
                destination: new google.maps.LatLng({{ route.end.latitude }}, {{ route.end.longitude }}),
                waypoints: waypoints,
                travelMode: google.maps.TravelMode.WALKING
            };

            directionsService.route(request, function (result) {
                directionsRenderer.setDirections(result);
            });
        }

        function showButton() {
            button = document.getElementById("comment-add-button")
            button.style.display = "flex"
            button = document.getElementById("comment-cancel-button")
            button.style.display = "flex"
        }

        function hideButton() {
            window.setTimeout(function () {
                button = document.getElementById("comment-add-button")
                button.style.display = "none"
                button = document.getElementById("comment-cancel-button")
                button.style.display = "none"
            }, 100)

        }

        function clearField(event) {
            event.preventDefault();
            field = document.getElementById('comment-content');
            field.value = "";

        }
    </script>
{% endblock %}
