{% extends 'route/layout.html' %}

{% block title %}
    {{ route.name }}
{% endblock %}

{% block content %}
    <style>
        #map {
            height: 100%;
            width: 100%;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .comments-section {
            margin-top: 20px;
            padding: 15px;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .comments-section h2 {
            margin-bottom: 15px;
            font-size: 1.5em;
        }

        #comments {
            max-height: 300px;
            overflow-y: auto;
            margin-bottom: 15px;
        }

        .comment {
            margin-bottom: 10px;
            padding: 10px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .comment strong {
            color: #333;
        }

        .comment small {
            display: block;
            color: #888;
            font-size: 0.9em;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        textarea {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            resize: vertical;
            min-height: 100px;
        }

        button {
            padding: 10px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #218838;
        }
    </style>

    <div class="route-container">
        <div class="page-center mt-5">
            <div class="task-details-container">
                <h1>{{ route.name }}</h1>
                <p class="lead">{{ route.description }}</p>
            </div>
        </div>
    </div>
    <div id="map"></div>
    <div class="comments-section">
        <h2>Comments</h2>
        <div id="comments">
            {% for comment in comments %}
                <div class="comment">
                    <strong>{{ comment.user.username }}</strong>: {{ comment.content }} <br>
                </div>
            {% endfor %}
        </div>

        {% if request.user.username != "" %}
            <p>You need to be logged in to add a comment. Please <a href="{% url 'login' %}">log in</a>.</p>
            <form method="post" action="{% url 'addComment' route.id %}">
                {% csrf_token %}
                {{ commentForm.content }}
                <button type="submit">Add comment</button>
            </form>
        {% else %}
            <p>You need to be logged in to add a comment. Please <a href="{% url 'login' %}">log in</a>.</p>
        {% endif %}
    </div>

    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD527QpH-bF0qPHG5ey2yUH2YZ5f8LcvZA&callback=initMap&libraries=places">
    </script>

    <script>
        function initMap() {
            var directionsService = new google.maps.DirectionsService();
            var directionsRenderer = new google.maps.DirectionsRenderer();
            var firstWaypoint = {
                lat: {{ route.start.latitude }},
                lng: {{ route.start.longitude }}
            };
            var map = new google.maps.Map(document.getElementById('map'), {
                center: firstWaypoint,
                zoom: 5
            });
            directionsRenderer.setMap(map);
            var waypoints = [
                {% for waypoint in waypoints %}
                    {
                        location: new google.maps.LatLng({{ waypoint.latitude }}, {{ waypoint.longitude }}),
                        stopover: true
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ];

            var request = {
                origin: new google.maps.LatLng({{ route.start.latitude }}, {{ route.start.longitude }}),
                destination: new google.maps.LatLng({{ route.end.latitude }}, {{ route.end.longitude }}),
                waypoints: waypoints,
                travelMode: google.maps.TravelMode.WALKING
            };

            directionsService.route(request, function (result) {
                directionsRenderer.setDirections(result);
            });
        }
    </script>
{% endblock %}
